@font-face{
    src:url(BLKCHCRY.TTF);
    font-family: BlackChancery;
}

body{
  background: url("back.png");
  background-attachment: fixed;
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-size: cover;
}

#mainHead{
    margin-top: 10%;
    font-size: 40px;
    text-align: center;
    font-family: BlackChancery;
    letter-spacing: 0.1em;
    margin-bottom: 0px;
    color: #241b0dc2;
}

#mainHead h1{
    margin-block-end: 0px;
}

.container1
    {
        margin: 0;
        padding-left: 8%;
        box-sizing: border-box;
        font-family: 'Zhi Mang Xing','sans-serif';
        font-size: 1.3rem;
        line-height: 1.5;
        text-align: center;
        }

h1{
    text-align: center;
}

    @keyframes animate{
        0%
        {
            background-position: -300%;

        }
        100%
        {
            background-position: 300%;

        }
    }

.imageWrapper{
    display: block;
    width: 550px;
    float:left;
     height: 100%; 

}

#firstImg{
    background: url("./robotics/back theme.png");
    /* background-size: 600px 600px; */
    background-size: contain;
    background-repeat: no-repeat;
        /* margin-left: 5%; */
}

#secondImg{
    background: url("./gaming zone/back.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 8%;
}

#secondCard{
    margin-top: 5%;
    margin-bottom: 3%;
}

.cardWrapper h1{
    margin: 0;
    padding: 1em 0;
}

.cardWrapper p{
    margin: 0;
    padding: 1em 0;
}

.bulletWrapper{
   width:500px;
   float:left;
   margin-top: 5%;
   /* padding-left: 10%; */
}

.bulletWrapper img{
 height: 15%;
 margin-top: 2%;
}

#bulletOne{
  margin-left:20%;
}

#bulletThree{
  margin-left:20%;
}

#firstBullet{
padding-left: 18%;
padding-top: 2%;
}

#secondBullet{
    padding-left: 6%;
    }

.bulletWrapper > div{

}

#eventHeading{
  font-family: BlackChancery;
  font-size: 60px;
  /* margin-left: 33%; */
  margin-top: 33%;
  color:#3E221F;
  text-align: center;
}


@media(min-width: 700px){

.cardWrapper{

    margin-bottom: 2rem;
    width:100% ;
    height:600px ;
    background:transparent;
}

.cardWrapper h1{
    margin-bottom: 2rem;
}

.imageWrapper img{
    height: 400px;
}

.cardWrapper > div{
    text-align: justify;
}

.cardWrapper:nth-child(even) img{
    order:2;
}
    /* #showcase .bg-image{

        background-position: center;
    }
    #showcase h1{
        font-size: 10vh;
        letter-spacing: 4px;
        padding-top: 100px;
    } */
}

@media(max-width: 900px){

    
}