@font-face{
    src:url(BLKCHCRY.TTF);
    font-family: BlackChancery;
}

body{
  background: url("back.png");
  background-attachment: fixed;
  overflow-x: hidden;
}

#mainHead{
    margin-top: 10%;
    font-size: 40px;
    text-align: center;
    font-family: BlackChancery;
    letter-spacing: 0.1em;
    margin-bottom: 0px;
    color: #241b0dc2;
}

#mainHead h1{
    margin-block-end: 0px;
}

.container1
    {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Zhi Mang Xing','sans-serif';
        font-size: 1.3rem;
        line-height: 1.5;
        text-align: center;
        }



    @keyframes animate{
        0%
        {
            background-position: -300%;

        }
        100%
        {
            background-position: 300%;

        }
    }

.imageWrapper{
    display: block;
    width: 40%;
    float:left;
    height: 80%;
}

#firstImg{
    background: url("./robotics/back theme.png");
    background-size: 600px 600px;
    background-repeat: no-repeat;
}

#secondImg{
    background: url("./gaming zone/back.png");
    background-size: 600px 600px;
    background-repeat: no-repeat;
}

.cardWrapper h1{
    margin: 0;
    padding: 1em 0;
}

.cardWrapper p{
    margin: 0;
    padding: 1em 0;
}

.bulletWrapper{
   width:40%;
   float:left;
   margin-top: 5%;
}

.bulletWrapper img{
 height: 18%;
 margin-left: 5%;
}

#bulletOne{
  margin-left:10%;
}

#bulletThree{
  margin-left:10%;
}

.bulletWrapper > div{

}

#eventHeading{
  font-family: BlackChancery;
  font-size: 60px;
  margin-left: 25%;
  margin-top: 22%;
  color:#3E221F;
}


@media(min-width: 700px){
  
.cardWrapper{
  
    margin-bottom: 2rem;
    width:100% ;
    height:100% ;
    background:transparent;
}

.cardWrapper h1{
    margin-bottom: 2rem;
}

.imageWrapper img{
    height: 400px;
}

.cardWrapper > div{
    padding: 4rem;
    text-align: justify;
}

.cardWrapper:nth-child(even) img{
    order:2;
}
    #showcase .bg-image{

        background-position: center;
    }
    #showcase h1{
        font-size: 10vh;
        letter-spacing: 4px;
        padding-top: 100px;
    }
}
